<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>求职防坑手册</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta name="keywords" content="求职,入坑,入职,内推,福利,面试,培训,年终奖,薪水,辞职,劳动仲裁,五险一金,环境,氛围,技术,制度,马屁,不正规,洗脑,工资,HR,妹纸,公司,拖欠工资">
    <meta name="description" content="求职防坑手册（简称“防坑手册”）由大家自由提交公司并自由发表评价，供大家选择公司时查看。由于自由评价需要自己分析结论。">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
    <script>
        (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();

        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?8e5779def54689dfeb863aea23ad0397";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body>
    <div id="app"></div>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
</body>

</html>
